In [28]:
import pandas as pd

In [29]:
# load dataset
DATA_PATH = "carbon_la_CO2_emission_estimates_2005-2019.csv"
df = pd.read_csv(DATA_PATH)

In [30]:
# group per LA and sort by year
df_grouped = df.groupby('Local Authority').apply(lambda x: x.sort_values('Year'))

In [31]:
# Calculate percentage difference within each group
df_grouped['Percentage Difference'] = df_grouped.groupby('Local Authority')['Per Capita Emissions (tonnes)'].pct_change() * 100

In [32]:
# Drop NaN values resulting from the percentage difference calculation
df_grouped.dropna(subset=['Percentage Difference'], inplace=True)

# Reset the index
df_grouped.reset_index(drop=True, inplace=True)

In [33]:
pivoted_df = pd.pivot_table(df_grouped, index='Local Authority', columns='Year', values=['Percentage Difference'])
pivoted_df

                     Percentage Difference                                 \
Year                                  2006      2007      2008       2009
Local Authority
County Durham                    -1.879496 -2.952989 -2.668712  -9.645829
Darlington                       -3.250270 -4.074563 -2.207602 -10.039171
Gateshead                         1.398333 -3.602139 -4.395716  -9.662884
Hartlepool                       -0.667532 -5.534717  0.117720  -7.381849
Middlesbrough                     0.828798  0.483742 -7.203209 -12.489247
Newcastle upon Tyne              -1.568223 -3.325168 -0.811862  -8.362158
North Tyneside                   -4.479434 -4.016498 -5.655505 -11.457777
Northumberland                   -3.449243 -7.611728 -6.929165 -19.928429
Redcar and Cleveland             -3.710092  2.477971 -7.847831 -10.337815
South Tyneside                   -0.890001 -4.918915 -1.786605  -8.209488
Stockton-on-Tees                 -3.761400  1.586931 -0.148427 -23.823385
Sunderland                       -0.981292 -5.144087 -2.178306  -9.458955

                                                                              \
Year                       2010       2011        2012       2013       2014
Local Authority
County Durham          3.964786  -8.114541    3.394018  -2.163879 -10.093674
Darlington             5.183964 -10.857660    4.764054  -1.784530 -11.668269
Gateshead              1.478643 -10.110282    4.037616  -2.634921  -8.694035
Hartlepool            10.521085 -13.543324    4.441873  -5.649378  -9.031972
Middlesbrough          0.517251  -6.679750    4.319796  -8.655767  -9.737112
Newcastle upon Tyne    3.620403  -9.962230    4.115686  -3.252104 -13.765747
North Tyneside         4.000592  -8.874335    6.295796  -3.294430 -12.400317
Northumberland        14.229943  -3.491466  -18.605135 -52.808850 -19.097925
Redcar and Cleveland -49.045075 -12.614869  117.589633  19.043962  -7.985008
South Tyneside         3.407112  -9.393206    6.656756  -2.293710 -13.192536
Stockton-on-Tees       6.451731 -17.509805   15.896047  -2.739786 -13.826914
Sunderland             4.107905  -8.814886    6.988781  -2.788134 -10.947055


Year                       2015       2016      2017       2018      2019
Local Authority
County Durham         -4.326849 -10.663712 -2.967755  -1.307955 -4.285353
Darlington            -0.821250  -4.658473 -4.239584  -1.905444 -1.682187
Gateshead             -5.030359  -4.160255 -2.756610  -0.894132 -2.181840
Hartlepool            -3.302147  -2.379158 -0.899276  -1.322450 -4.246401
Middlesbrough         -1.864723  -6.406606 -4.601670   1.983338 -4.679810
Newcastle upon Tyne   -3.812562  -6.822167 -5.691011  -1.663742 -5.210815
North Tyneside        -1.804620  -5.979426 -4.975158  -1.839895 -2.409289
Northumberland        -3.415866 -11.969429 -3.655660  -0.559148 -8.672714
Redcar and Cleveland -21.806653 -60.552267 -0.317377  -3.950803 -7.659433
South Tyneside        -2.648584  -5.976831 -4.925026  -1.035436 -4.320734
Stockton-on-Tees       4.531201 -11.634613  9.164540 -12.259782  2.308927
Sunderland            -3.895972  -5.550752 -3.542998  -1.398794 -5.983345

In [34]:
# save to a file
pivoted_df.round(2).to_csv('carbon_per_capita_LA.csv')